*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom{
    background-color: burlywood;
}
.navbar-logo{
    height: 80px;
    border-radius: 50%;
    margin-left: 50px;
} 
.nav-item .nav-link{
    color: whitesmoke;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
#navbarNav{
    margin-right: 60px;
}
/* hed */
.hed h1{
    text-align: center;
    margin: 30px;
    font-weight: 800;
    font-size: 50px;
    color: rgb(161, 180, 195);
}
.active img{
    height: 70vh;
    border-radius: 30%;
}

/* sofa cards */
.jar h1{
    text-align: center;
    margin: 40px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.jar img{
    height: 200px;
}
.jar .card{
    justify-content: center;
    text-align: center;
}
.jar-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Sppons &forks cards */
.spoon h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.spoon img{
    height: 250px;
}
.spoon .card{
    justify-content: center;
    text-align: center;
}
.spoon-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* bowl cards */
.bowl h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.bowl img{
    height: 250px;
}
.bowl .card{
    justify-content: center;
    text-align: center;
}
.bowl-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* plates cards */
.plate h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.plate img{
    height: 250px;
}
.plate .card{
    justify-content: center;
    text-align: center;
}
.plate-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* dining cards */
.dining h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.dining img{
    height: 250px;
}
.dining .card{
    justify-content: center;
    text-align: center;
}
.dining-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* drinkware cards */
.cup h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.cup img{
    height: 250px;
}
.cup .card{
    justify-content: center;
    text-align: center;
}
.cup-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* fotter */
.footer {
    padding: 40px 30px;
    background-color: burlywood;
    text-align: center;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons .bi{
    font-size: 24px;
    color: aliceblue;
    margin: 0 15px;
    transition: color 0.3s;
}
.social-icons .bi:hover{
    color: bisque;
}
.footer p {
    font-size: 20px;
}