*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom{
    background-color: burlywood;
}
.navbar-logo{
    height: 80px;
    border-radius: 50%;
    margin-left: 50px;
} 
.nav-item .nav-link{
    color: whitesmoke;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
#navbarNav{
    margin-right: 60px;
}
/* hed */
.hed h1{
    text-align: center;
    margin: 30px;
    font-weight: 800;
    font-size: 50px;
    color: rgb(161, 180, 195);
}
.active img{
    height: 70vh;
    border-radius: 30%;
}

/* Wall Lights cards */
.wall h1{
    text-align: center;
    margin: 40px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.wall img{
    height: 250px;
}
.wall .card{
    justify-content: center;
    text-align: center;
}
.wall-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Celining lights cards */
.CL h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.CL img{
    height: 250px;
}
.CL .card{
    justify-content: center;
    text-align: center;
}
.CL-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Night lamps cards */
.NP h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.NP img{
    height: 250px;
}
.NP .card{
    justify-content: center;
    text-align: center;
}
.NP-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Lamp cards */
.lamp h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.lamp img{
    height: 250px;
}
.lamp .card{
    justify-content: center;
    text-align: center;
}
.lamp-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Bulbs decor */
.bulb h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.bulb img{
    height: 250px;
}
.bulb .card{
    justify-content: center;
    text-align: center;
}
.bulb-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* fotter */
.footer {
    padding: 40px 30px;
    background-color: burlywood;
    text-align: center;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons .bi{
    font-size: 24px;
    color: aliceblue;
    margin: 0 15px;
    transition: color 0.3s;
}
.social-icons .bi:hover{
    color: bisque;
}
.footer p {
    font-size: 20px;
}