*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom{
    background-color: burlywood;
}
.navbar-logo{
    height: 80px;
    border-radius: 50%;
    margin-left: 50px;
} 
.nav-item .nav-link{
    color: whitesmoke;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
#navbarNav{
    margin-right: 60px;
}
/* hed */
.hed h1{
    text-align: center;
    margin: 30px;
    font-weight: 800;
    font-size: 50px;
    color: rgb(161, 180, 195);
}
.active img{
    height: 70vh;
    border-radius: 30%;
}

/* Traditional Wall gecor cards */
.trad h1{
    text-align: center;
    margin: 40px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.trad img{
    height: 200px;
}
.trad .card{
    justify-content: center;
    text-align: center;
}
.trad-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* Mirror cards */
.mirr h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.mirr img{
    height: 250px;
}
.mirr .card{
    justify-content: center;
    text-align: center;
}
.mirr-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* plated cards */
.plaed h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.plaed img{
    height: 250px;
}
.plaed .card{
    justify-content: center;
    text-align: center;
}
.plaed-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* god decors cards */
.god h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.god img{
    height: 250px;
}
.god .card{
    justify-content: center;
    text-align: center;
}
.god-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* modren decor */
.modre h1{
    text-align: center;
    margin: 80px 0px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(161, 180, 195);
}
.modre img{
    height: 250px;
}
.modre .card{
    justify-content: center;
    text-align: center;
}
.modre-items:hover{
    animation: scale 2s ease 1;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

/* fotter */
.footer {
    padding: 40px 30px;
    background-color: burlywood;
    text-align: center;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons .bi{
    font-size: 24px;
    color: aliceblue;
    margin: 0 15px;
    transition: color 0.3s;
}
.social-icons .bi:hover{
    color: bisque;
}
.footer p {
    font-size: 20px;
}